{% import 'macros/form.html' as form %}
{% import 'macros/wysiwyg.html' as wysiwyg %}

{% set data = data or {} %}
{% set errors = errors or {} %}
{% set current_lang = request.environ.CKAN_LANG %}
{% set available_languages = h.get_available_locales() %}

{% if type == 'org' %}
{% set prefix = 'organization_pages_' %}
{% set args = {'id': id} %}
{% elif type == 'group' %}
{% set prefix = 'group_pages_' %}
{% set args = {'id': id} %}
{% elif type == 'blog' %}
{% set prefix = 'blog_' %}
{% set args = {} %}
{% else %}
{% set prefix = 'pages_' %}
{% set args = {} %}
{% endif %}

{% set page_url = page %}
{% set prefix = 'pages.' + prefix %}

{% set cancel_url = h.url_for(prefix + 'index', **args) %}
{% set slug_prefix = cancel_url ~ '/' %}
{% set slug_domain = h.url_for(prefix + 'index', qualified=true, **args) %}
{% if page %}
{% if type == 'org' %}
{% set delete_url = h.url_for('pages.organization_pages_delete', page=page_url, **args) %}
{% elif type == 'group' %}
{% set delete_url = h.url_for('pages.group_pages_delete', page=page_url, **args) %}
{% else %}
{% set delete_url = h.url_for('pages.blog_delete' if type == 'blog' else 'pages.delete', page=page_url, **args) %}
{% endif %}
{% endif %}

{% if type == 'blog' %}
{% if not page %}
<h1>{{ _('Add Blog Article') }}</h1>
{% else %}
<h1>{{ _('Edit Blog Article') }}</h1>
{% endif %}
{% set url_placeholder = 'eg. my-blog-article' %}
{% set title_placeholder = _('eg. Blog Article Title') %}
{% else %}
{% if not page %}
<h1>{{ _('Add page') }}</h1>
{% else %}
<h1>{{ _('Edit page') }}</h1>
{% endif %}
{% set url_placeholder = 'eg. my-page' %}
{% set title_placeholder = _('eg. Page Title') %}
{% endif %}


<form class="dataset-form pages-form" method="post" action="{{ action_url }}" data-module="basic-form">
    {{ h.csrf_input() if 'csrf_input' in h }}
    {% block errors %}{{ form.errors(error_summary) }}{% endblock %}

    {% block form_basic_fields %}
    <input type="hidden" name="initial_language" value="{{data.initial_language}}" />

    {% set domain = slug_domain|replace("http://", "")|replace("https://", "") %}
    {% set attrs = {'data-module': 'slug-preview-slug', 'data-module-prefix': domain~'/', 'data-module-placeholder': '
    <page>'} %}
        {{ form.prepend('name', id='field-name', label=_('URL'), prepend=slug_prefix, placeholder=_(url_placeholder),
        value=data.name, error=errors.name, attrs=attrs) }}

        <div class="form-group">
            <label for="field-featured">{{ _('Featured') }}</label>
            <select id="field-featured" class="form-control" name="featured">
                {% for option in [(false, _('Not Featured')), (true, _('Featured'))] %}
                <option value="{{ option[0] }}" {% if option[0]== data.featured %}selected="selected" {% endif %}>{{
                    option[1] }}
                </option>
                {% endfor %}
            </select>
        </div>
        {% endblock %}

        {% block form_visibility_fields %}
        <style>
            .form-horizontal .form-group {
                margin-left: 0;
                margin-right: 0;
                margin-bottom: 2em;
            }

            .form-actions {
                margin-top: 2em;
            }

            .cke_button__link_label, .cke_button__image_label, .cke_button__table_label, .cke_button__ckanview_label, .cke_button__resourceview_label, .cke_button__dashboard_label {
                display: inline;
            }

            .cke_button__link_label:after {
                content: " and upload"
            }

            .cke_button__image_label:after {
                content: " upload"
            }

            .cke_button__ckanview_label:before {
                content: "CKAN "
            }

            .cke_button__horizontalrule, .cke_button__horizontalrule_label, .cke_button__horizontalrule_icon, .cke_button__ckanview, .cke_button__ckanview_label, .cke_button__ckanview_icon {
                display: none;
            }

        </style>
        <div class="control-group form-group">
            <label for="field-private" class="control-label">{{ _('Visibility') }}</label>
            <div class="controls">
                <select id="field-private" class="form-control" name="private">
                    {% for option in [(true, _('Private')), (false, _('Public'))] %}
                    <option value="{{ option[0] }}" {% if option[0]== data.private %}selected="selected" {% endif %}>{{
                        option[1] }}
                    </option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="field-publish-date">{{ _('Publish Date') }}</label>
            <input class="form-control" id="field-publish_date" name="publish_date" placeholder="2018-01-01"
                   data-module="datepicker" data-date-format="yyyy-mm-dd" type="text"
                   value="{{h.render_datetime(data.publish_date or h.get_today(), date_format='%Y-%m-%d')}}">
        </div>
        {% if not hide_field_order %}
        <div class="control-group form-group">
            <label for="field-order" class="control-label">{{ _('Header Order') }}</label>
            <div class="controls">
                <select id="field-order" class="form-control" name="order">
                    {% for option in [('', _('Not in Menu')), ('1','1'), ('2', '2'), ('3', '3') , ('4', '4')] %}
                    <option value="{{ option[0] }}" {% if option[0]== data.order %}selected="selected" {% endif %}>{{
                        option[1] }}
                    </option>
                    {% endfor %}
                </select>
            </div>
            {% endif %}

            {% endblock %}

            {% set default_lang = h.get_available_locales() | selectattr("short_name", "eq", data.initial_language) | first  %}
       	    <h3 class="title-heading">Language: {{ default_lang.display_name }}</h3>
            {{ form.input('title', id='field-title', label=_('Title'), placeholder=title_placeholder, value=data.title,
            error=errors.title, classes=['control-full', 'control-large'], attrs={'data-module': 'slug-preview-target', 'class':
            'form-control'}) }}
            {% block form_content %}
            {% set editor = h.pages_get_wysiwyg_editor() %}
            {% if editor == 'medium' %}
            {% asset 'pages/medium-js' %}
            {% asset 'pages/medium-css' %}
            {{ wysiwyg.editor('content', id='field-content', label=_('Content'), placeholder=_('Enter content here'),
            value=data.content|safe, error=errors.content) }}
            {% elif editor == 'ckeditor' %}
            <p>Editor 1</p>
            <script> window.CKEDITOR_BASEPATH = '/' </script>
            {% asset 'pages/main-js' %}
            {% asset 'pages/main-css' %}
            <div class="control-group">
                <label for="field-content-ck" class="control-label content-input">{{ _('Content') }}</label>
            </div>
            <textarea id="field-content-ck" name="content" placeholder="{{_('My content')}}" data-module="ckedit"
                      style="height:400px"
                      data-module-site_url="{{ h.dump_json(h.url_for('/', locale='default', qualified=true)) }}"
                      data-module-superset_dashboards="{{ h.dump_json(h.pages_superset_dashboards()) }}">
                    {{ data.content }}
            </textarea>
            {% else %}
            {{ form.markdown('content', id='field-content', attrs={'class': 'form-control page-simple-form-height'},
            label=_('Content'), placeholder=_('Enter content here'), value=data.content, error=errors.content) }}
            {% endif %}
            <div class="">
                {% if h.get_available_locales() %}
                <div id="languageVariationsSection" class="new-page-lang-div">
                    {% for lang in h.get_lang_to_json() %}
		    {% if lang.short_name != data.initial_language %} 
		    {% set content = data.existing_languages[lang.short_name] or {} %}
            <div id="languageVariation_{{ loop.index }}" class="language-variation">
    	    <h3 class="title-heading">Language: {{ lang.display_name }}</h3>
	    <input type=hidden value="{{lang.short_name}}" name="language_{{loop.index}}" >
		<label for="title_{{ loop.index }}" class="multilingual-page-input">Title</label>
                <input type="text" id="title_{{ loop.index }}" name="title_{{ loop.index }}" class="form-control" value="{{ content.title }}" required>
                <label for="content_{{ loop.index }}" class="multilingual-page-input">Content</label>
                <textarea id="content_{{ loop.index }}" name="content_{{ loop.index }}" class="form-control" data-module="ckedit" style="height:400px" required
		      data-module-site_url="{{ h.dump_json(h.url_for('/', locale='default', qualified=true)) }}"
                      data-module-superset_dashboards="{{ h.dump_json(h.pages_superset_dashboards()) }}">{{ content.content }}</textarea>
            </div>
		    {%endif%}
            {% endfor %}
                    {% endif %}
            </div>
            </div>

            {% endblock %}

            {% block form_actions %}
            <div class="form-actions">
                {% if not page %}
                <a class="btn btn-default pull-left" href="{{ cancel_url }}">{{ _('Cancel') }}</a>
                <button class="btn btn-primary" name="save" value="save" type="submit">{{ _('Add') }}</button>
                {% else %}

                {% block delete_button %}
                {% if h.check_access('ckanext_%spages_delete'|format(type ~ '_' if type in ('group', 'org') else ''),
                {'id': data.id}) %}
                {% set locale = h.dump_json({'content': _('Are you sure you want to delete this Page?')}) %}
                <a class="btn btn-danger pull-left" href="{{ delete_url }}" data-module="confirm-action"
                   data-module-i18n="{{ locale }}">{% block delete_button_text %}{{ _('Delete') }}{% endblock %}</a>
                {% endif %}
                {% endblock %}

                <button class="btn btn-primary" name="save" value="save" type="submit">{{ _('Save') }}</button>
                {% endif %}
            </div>

            {% endblock %}
</form>

{% block scripts %}
 <!--
  CKEditor needs to be loaded here instead of using webassets
  or it won't load properly when setting debug=False
  -->
  <script src="/vendor/ckeditor/ckeditor.js"></script>
{% endblock %}
