{% extends 'group/read_base.html' %}

{% block subtitle %}{{ _('Pages') }} - {{ group_dict.display_name }}{% endblock %}

{% block primary_content_inner %}
    {% if h.check_access('ckanext_group_pages_update', {'id': page.id}) %}
      {% if h.ckan_version().split('.')[1] | int >= 9 %}
        {% link_for _('Edit page'), named_route='pages.group_pages_edit', id=group_dict.name, page=page.name, class_='btn btn-primary pull-right', icon='plus-square' %}
      {% else %}
        {% link_for _('Edit page'), controller='ckanext.pages.controller:PagesController', action='group_edit', id=c.group_dict.name, page='/' + c.page.name, class_='btn btn-primary pull-right', icon='edit' %}
      {% endif %}

    {% endif %}
  <h1 class="page-heading">{{ h.pages_get_lang_from_dict_fallback(page.title) }}</h1>
  {% if page.content %}
    {% set editor = h.pages_get_wysiwyg_editor() %}
    {% if editor %}
    <div>
        {{h.pages_get_lang_from_dict_fallback(page.content)|safe}}
    </div>
    {% else %}
      {{ h.render_content(h.pages_get_lang_from_dict_fallback(page.content)) }}
    {% endif %}
  {% else %}
    <p class="empty">{{ _('This page currently has no content') }}</p>
  {% endif %}
{% endblock %}
