{#
pages_name - what we call pages
#}

{% extends 'page.html' %}

{% block styles %}
{{ super() }}
{% resource 'pages-theme/styles/pages.css' %}
{% endblock %}

{% block breadcrumb_content %}

{% endblock %}
{% set title = c.page.title %}

{% block subtitle %}{% trans %}{{title}}{% endtrans %}{% endblock %}

{% block content %}
<section class="page-section">


    <div class="blog-hero page-hero">
        <h1 class="text-center"><span class="page-heading hero-heading">{{title}}</span></h1>
    </div>
    <div class="container page-main-container">
        <div class="action-btns">
        {% if h.check_access('ckanext_pages_update') %}
    {% link_for _('Edit'), controller='ckanext.pages.controller:PagesController', action='pages_edit', page='/' +
    c.page.name, class_='btn btn-primary', icon='edit' %}
    {% endif %}
</div>
        {% if c.page.content %}
        <div class="ckanext-pages-content">
            {% set editor = h.get_wysiwyg_editor() %}
            {% if editor %}
            <div>
                {{c.page.content|safe}}
            </div>
            {% else %}
            {{ h.render_content(c.page.content) }}
            {% endif %}
        </div>
        {% else %}
        <p class="empty">{{ _('This page currently has no content') }}</p>
        {% endif %}
    </div>


</section>
{% endblock %}

{% block secondary %}


{% endblock %}
