{% extends 'ckanext_pages/edit_base.html' %}
{% block breadcrumb_content %}
    <li><a href="/pages">{% trans %}Pages{% endtrans %}</a></li>
{% endblock %}

{% block page_primary_action %}
  {% if h.check_access('ckanext_pages_update', {}) %}
    {% if h.ckan_version().split('.')[1] | int >= 9 %}
      {% link_for _('Add page'), named_route='pages.new', page='', class_='btn btn-primary', icon='plus-square' %}
    {% else %}
      {% link_for _('Add page'), controller='ckanext.pages.controller:PagesController', action='pages_edit', page='', class_='btn btn-primary', icon='plus-square' %}
    {% endif %}
  {% endif %}
{% endblock %}

{% block primary %}
    <style>
     .secondary {
         float: right !important;
         padding: 10px;
     }



     .dataset-item {
         border-right: none !important;
     }

     .wrapper::before {
         display: none;
     }

     .secondary {
         margin-top: 24px;
         border-left: 0px;
     }
    </style>
<div class="pages-action">
        {% if h.check_access('ckanext_pages_update', {}) %}
        {% link_for _('Add page'), named_route='pages.edit', page='', class_='btn btn-primary', icon='plus-square' %}
    {% endif %}
</div>
<div>
    {% snippet 'ckanext_pages/snippets/pages_list.html', pages=page.items %}
</div>
<div class="page-pager-wrapper">
    {{ page.pager() }}
    </div>

{% endblock %}

{% block secondary %}

{% block secondary_content %}

    {% set pages = page.items %}
    <div class="module module-narrow module-shallow hidden-xs">
        <div class="module-content">
            <div class="panel panel-info">
                <div class="panel-heading page-head page-title">Latest Pages</div>
                <div class="panel-body">
                    {% for page in pages[:10] %}
                        <div class="row post">
                            <div class="post-title col-md-12">
                                <h3><a href="pages/{{ page.name }}">{{ h.pages_get_lang_from_dict_fallback(page.title)|default('', true)|truncate(40, end="…") }}</a></h3>
                            </div>

                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% endblock %}
