{% extends 'ckanext_pages/edit_base.html' %}
{% block breadcrumb_content %}
    <li><a href="/pages">{% trans %}Pages{% endtrans %}</a></li>
{% endblock %}

{% block page_primary_action %}

    {% if h.check_access('ckanext_pages_update', {}) %}
        {% link_for _('Add page'), controller='ckanext.pages.controller:PagesController', action='pages_edit', page='', class_='btn btn-primary', icon=h.pages_get_plus_icon() %}
    {% endif %}
{% endblock %}

{% block primary_content_inner %}
    <style>
     .secondary {
         float: right !important;
         padding: 10px;
     }

     .module {
         float: left !important;
     }

     .dataset-item {
         border-right: none !important;
     }

     .wrapper::before {
         display: none;
     }

     .secondary {
         margin-top: 15px;
         border-left: 0px;
     }
    </style>
    {% snippet 'ckanext_pages/snippets/pages_list.html', pages=c.page.items %}
    {{ c.page.pager() }}
{% endblock %}

{% block secondary_content %}
    {% set pages = c.page.items %}
    <div class="module module-narrow module-shallow hidden-xs">
        <div class="module-content">
            <div class="panel panel-info">
                <div class="panel-heading">Latest Pages</div>
                <div class="panel-body">
                    {% for page in pages[:10] %}
                        <div class="row post">
                            <div class="post-title col-md-12">
                                <h3><a href="pages/{{ page.name }}">{{ page.title|truncate(40, end="…") }}</a></h3>
                            </div>

                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}


