{% extends 'page.html' %}

{% block styles %}
{{ super() }}
{% asset 'pages/index-css' %}
{% endblock %}

{% block breadcrumb_content %}

{% endblock %}

{% block subtitle %}{% trans %}{{ title }}{% endtrans %}{% endblock %}

{% block content %}
  <section class="page-section">
    <div class="blog-hero page-hero">
      <h1 class="text-center">
        <span class="page-heading hero-heading">
          {{ h.pages_get_lang_from_dict_fallback(page.title) }}
        </span>
      </h1>
    </div>
    <div class="container page-main-container">
      <div class="action-btns">
        {% block ckanext_pages_actions %}
          {% if h.check_access('ckanext_pages_update') %}
            {% link_for _('Edit'), named_route='pages.edit', page=page.name, class_='btn btn-primary', icon='edit' %}
            {% link_for _('Revisions'), named_route='pages.pages_revisions', page=page.name, class_='btn btn-primary pull-right me-2', icon='eye' %}
          {% endif %}
        {% endblock %}
      </div>
      {% if page.content %}
        <div class="ckanext-pages-content">
          {% set editor = h.pages_get_wysiwyg_editor() %}
          <!-- editor set to "{{ editor }}"-->
          {% if editor %}
            <div>
              {{ h.pages_get_lang_from_dict_fallback(page.content)|safe }}
            </div>
          {% else %}
            {{ h.render_content(h.pages_get_lang_from_dict_fallback(page.content)) }}
          {% endif %}
        </div>
      {% else %}
        <p class="empty">{{ _('This page currently has no content') }}</p>
      {% endif %}
    </div>
  </section>
{% endblock %}

{% block secondary %}


{% endblock %}
