{% extends "page.html" %}
{% import 'macros/form.html' as form %}

{% block subtitle %}{{ _("Pages Search") }}{% endblock %}

{% block breadcrumb_content %}
{% endblock %}

{% block primary_content %}
<section class="module">
  <div class="module-content">
    {% block page_primary_action %}
      {% if h.check_access('ckanext_pages_update', {}) %}
        {% if h.ckan_version().split('.')[1] | int >= 9 %}
          {% link_for _('Add page'), named_route='pages.new', page='', class_='btn btn-primary', icon='plus-square' %}
        {% else %}
          {% link_for _('Add page'), controller='ckanext.pages.controller:PagesController', action='pages_edit', page='', class_='btn btn-primary', icon='plus-square' %}
      {% endif %}
      {% endif %}
    {% endblock %}
    {% block form %}
    {% set count = data | length %}
{% snippet 'site_search/site_search_form.html',
    form_id='site_search',
    query=q,
    sort=sort,
    placeholder=_('Search Articles, News & Events...'),
    count=count,
    show_empty=request.args %}
        {# --- Results text --- #}
  {% if not errors %}
    <h1 class="search-results-text pages-spacer" style="margin-bottom:20px;">
      {% snippet 'site_search/site_search_result_text.html',
          query=query,
          count=count,
          type='page' %}
    </h1>
  {% endif %}
      {% endblock %}
    {% block package_search_results_list %}
    <ul class="{{ list_class or 'dataset-list list-unstyled' }}">
      {% block package_list_inner %}
      {% for page in data %}
      {{ h.snippet('site_search/page_item.html', page=page) }}
      {% endfor %}
      {% endblock %}
    </ul>
    {% endblock %}
  </div>

</section>

{% endblock %}


{% block secondary_content %}

<div class="filters">
  <div>
  <h3>You are searching for Articles, News, Events and other pages. Want to search for datasets instead?</h3>
            <div class="panel panel-pages panel-red" style="background-color:#d65047;color: #fff;">
        <div class="panel-heading">{% trans %}Search For Datasets{% endtrans %}</div>
        <div class="panel-body">
            <form class="navbar-form" role="search" action="/dataset">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="E.g. Census 2022..." name="q">
                    <div class="input-group-btn">
                        <button class="btn btn-default btn-search" type="submit"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    </div>
</div>
{% endblock %}