{% set pages_total = pages|length %}
{% set action = '{0}_show'.format(type) %}

{% if pages %}
{% set editor = h.get_wysiwyg_editor() %}

<div class="page-container">

    {% for page in pages %}
    {% if id %} {# this is for orgs and groups #}
    {% set url = h.url_for(controller='ckanext.pages.controller:PagesController', action=action, id=id, page='/' +
    page.name) %}
    {% elif type == 'blog' %}
    {% set url = h.url_for(controller='ckanext.pages.controller:PagesController', action='blog_show', page='/' +
    page.name) %}
    {% else %}
    {% set url = h.url_for(controller='ckanext.pages.controller:PagesController', action='pages_show', page='/' +
    page.name) %}
    {% endif %}
    <div class="page-item">
        <div class="page-panel panel panel-default bb">

                        <div class="panel-body page-panel-body">
                {% if page.content %}
                {% set img_url = h.get_post_image(page.content) %}
                {% if editor %}

                <div class="page-content">
                    <div class="page-img-box">
                        <img class="page-thumb-img" src="{{ img_url }}" alt=" image from a post"/>
                    </div>
                    {% if featured or page.featured %}
                    <div class="page-featured">
                        <span class="page-label label label-success">Featured</span>
                    </div>
                    {% endif %}
                    <div class="page-head  page-head-blog">
                        <span class="page-title" style="text-transform: uppercase">
                            <a href="{{ url }}"><h2 class="blog-title">{{ page.title }}</h2></a>
                    </span>
                    </div>
                    <div class="page-pub-date">
                    {% if page.publish_date %}
                    <small class="page-date blog-date">{{ h.render_datetime(page.publish_date) }}</small>
                    {% else %}
                    <small class="">-</small>
                    {% endif %}
                    </div>
                    <div class="page-raw">
                        {{ page.content|striptags|truncate }}
                    </div>


                </div>

                {% else %}
                {{ h.markdown_extract(page.content) }}
                {% endif %}
                {% else %}
                <p class="empty">{{ _('This page currently has no content') }}</p>
                {% endif %}

                <div class="pages-link">
                    <a class="read-more" href="{{ url }}">Read more  <i class="fa fa-arrow-right"></i></a>
                </div>
            </div>

        </div>
    </div>
    {% endfor %}

    {% else %}
    {% if type == 'blog' %}
    <p class="empty">{{ _('There are currently no blog articles here') }}</p>
    {% else %}
    <p class="empty">{{ _('There are currently no pages here') }}</p>
    {% endif %}

</div>
{% endif %}
