<a href="{{ url }}">
<div class="row page-list-item dataset-item flexy">

{% block page_item_image %}
    <div class="blog-image image" style="background-image:url({{ page.image or '/img/wbwd-logo.png'}})"></div>
{% endblock %}

<div class="blog-text">
     {% block page_item_heading %}
     <h3 class="dataset-heading">
        <a href="{{ url }}" >{{ page.title }}</a>
        {% if page.publish_date %}
           <small class="date"> {{ h.render_datetime(page.publish_date) }} </small>
        {% endif %}
    </h3>
    {% endblock %}

    {% block page_item_content %}
      {% if page.content %}
        {% if editor %}
        <div>
          {{page.content|striptags|truncate}}
        </div>
        {% else %}
          {{ h.markdown_extract(page.content) }}
        {% endif %}
      {% else %}
        <p class="empty">{{ _('This page currently has no content') }}</p>
      {% endif %}
    {% endblock %}
  </div>
  <div class="blog-more">
    <a href="{{ url }}"><i class="blog-chev fa fa-3x fa-chevron-right"></i></a>
</div>
</div></a>