{% set pages_total = pages|length %}
{% set action = '{0}_show'.format(type) %}

{#
{% if type == 'blog' %}
  <h2>{{ _('1 news article') if pages_total == 1 else _('{0} news articles').format(pages_total) }}</h2>
{% else %}
  <h2>{{ _('1 page') if pages_total == 1 else _('{0} pages').format(pages_total) }}</h2>
{% endif %}
#}

{% if type == 'blog' %}
  <h2>News</h2>
{% else %}
 <h2>Pages</h2>
{% endif %}

{% if pages %}
  {% set editor = h.get_wysiwyg_editor() %}
<div class="grid-container">


    {% for page in pages %}
      {% if id %} {# this is for orgs and groups #}
        {% set url = h.url_for(controller='ckanext.pages.controller:PagesController', action=action, id=id, page='/' + page.name) %}
      {% elif type == 'blog' %}
        {% set url = h.url_for(controller='ckanext.pages.controller:PagesController', action='blog_show', page='/' + page.name) %}
      {% else %}
        {% set url = h.url_for(controller='ckanext.pages.controller:PagesController', action='pages_show', page='/' + page.name) %}
      {% endif %}
      <a href="{{ url }}">
          <div class="page-list-item dataset-item flexy">
      {% if page.image %}
        <div class="blog-image image" style="background-image:url({{ page.image }})">

        </div>
        <div class="blog-text">
           <h3 class="dataset-heading">
              <a href="{{ url }}" >{{ page.title }}</a>
              {% if page.publish_date %}
                 <small class="date"> {{ h.render_datetime(page.publish_date) }} </small>
              {% endif %}
            </h3>
            {% if page.content %}
              {% if editor %}
              <div>
                {{page.content|striptags|truncate}}
              </div>
              {% else %}
                {{ h.markdown_extract(page.content) }}
              {% endif %}
            {% else %}
              <p class="empty">{{ _('This page currently has no content') }}</p>
            {% endif %}
        </div>
          <div class="blog-more">
              <a href="{{ url }}"><i class="blog-chev fa fa-3x fa-chevron-right"></i></a>
          </div>
      {% else %}
        <div class="blog-image image" style="background-image:url('/img/wbwd-logo.png')">

        </div>
        <div class="blog-text">
           <h3 class="dataset-heading">
              <a href="{{ url }}" >{{ page.title }}</a>
              {% if page.publish_date %}
                 <small class="date"> {{ h.render_datetime(page.publish_date) }} </small>
              {% endif %}
            </h3>
            {% if page.content %}
              {% if editor %}
              <div>
                {{page.content|striptags|truncate}}
              </div>
              {% else %}
                {{ h.markdown_extract(page.content) }}
              {% endif %}
            {% else %}
              <p class="empty">{{ _('This page currently has no content') }}</p>
            {% endif %}
        </div>
          <div class="blog-more">
              <a href="{{ url }}"><i class="blog-chev fa fa-3x fa-chevron-right"></i></a>
          </div>
      {% endif %}
      </div></a>
    {% endfor %}
    </div>

{% else %}
    {% if type == 'blog' %}
      <p class="empty">{{ _('There are currently no blog articles here') }}</p>
    {% else %}
      <p class="empty">{{ _('There are currently no pages here') }}</p>
    {% endif %}
{% endif %}
